[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pylint = "*"
flask-socketio = "*"
gevent = "*"
gevent-websocket = "*"
gitpython = "*"

[dev-packages]

[requires]
python_version = "3.7"
