<html>
  <head>
    <title>Data Collect - User</title>

    <style>
     .green-box {
       border: 1px solid green;
       padding: 10px;
     }

     .blue-box {
       border: 1px solid blue;
       padding: 10px;
     }

    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script>
     $(document).ready(function(){
         var socket = io('/user');
     });
    </script>
  </head>

  <body>
    <div class="green-box">
      {{ desc }}
    </div>
    <br/>
    <div class="blue-box">
      <p><span style="display:inline-block;width:55px;">助手</span>| 欢迎使用餐厅推荐对话系统，你可以向我提问。</p>
      {% for t in log %}
        {% if t['text'][0] %}
          <p><span style="display:inline-block;width:55px;">消费者</span>| {{ t['text'][0] }}</p>
        {% endif %}
        {% if t['text'][1] %}
          <p><span style="display:inline-block;width:55px;">助手</span>| {{ t['text'][1] }}</p>
        {% endif %}
      {% endfor %}
    </div>
    <br/>
    {% if log[-1]['text']|length == 1 %}
      <form action="{{ url_for('user.index') }}" method="post">
        <input type="text" name="resp" size="200">
        <input type="submit" value="Submit">
      </form>
    {% endif %}
  </body>
</html>
