<html>
  <head>
    <title>Data Collect - User</title>

    <style>
     .green-box {
       border: 1px solid green;
       padding: 10px;
     }

     .blue-box {
       border: 1px solid blue;
       padding: 10px;
     }

     b {
       color: blue;
     }

    </style>
  </head>

  <body>
    <div class="green-box">
      {{ desc|safe }} <br><br>
      <p>
        1. 如果没有符合规定的餐厅，可以更改条件；如果餐厅没有电话，可以改为索要餐厅地址 <br>
        2. 如果已经尝试过更改条件，仍未找到，即可回复结束语，如：‘好，谢谢’，‘再会’，‘十分感谢’，‘算了，我突然不饿了’
      </p>
      <p>请在30分钟之内完成任务并关闭网页，并且不要同时打开多个页面填写内容</p>
    </div>
    <br/>
    <div class="blue-box">
      <p><span style="display:inline-block;width:55px;">机器人</span>| 欢迎使用餐厅推荐对话系统，你可以向我提问。</p>
      {% for t in log %}
        {% if t['text'][0] %}
          <p><span style="display:inline-block;width:55px;">用户</span>| {{ t['text'][0] }}</p>
        {% endif %}
        {% if t['text'][1] %}
          <p><span style="display:inline-block;width:55px;">机器人</span>| {{ t['text'][1] }}</p>
        {% endif %}
      {% endfor %}
    </div>
    <br/>
    {% if log|length == 0 or 'metadata' in log[-1] %}
      <form id="user-submit" action="{{ url_for('user.index') }}" method="post">
        <input type="text" name="resp" size="200">
        <input type="submit" value="Submit">
      </form>
    {% else %}
      <button type="button" onclick="window.location.href='{{ url_for('main.select_task') }}';">下一轮</button>
      <p>或关闭网页离开</p>
    {% endif %}

    <!-- get flashes -->
    {% with msgs = get_flashed_messages() %}
      {% if msgs %}
        <ul class="flashes">
          {% for msg in msgs %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  </body>
</html>
