<html>
  <head>
    <title>Data Collect - User</title>

    <style>
     .green-box {
       border: 1px solid green;
       padding: 10px;
     }

     .blue-box {
       border: 1px solid blue;
       padding: 10px;
     }

     table {
       border-collapse: collapse;
     }

     table, th, td {
       border: 1px solid black;
     }

     td {
       text-align: center;
     }

    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script>

     $(document).ready(function(){

         $("#annotation").submit(function(e) {
             var form = $(this);

             function table_row(rest) {
                 return '<tr>' +
                        '<td>' + rest.name + '</td>' +
                        '<td>' + rest.tag + '</td>' +
                        '<td>' + rest.mean_price + '</td>' +
                        '<td>' + rest.price_range + '</td>' +
                        '<td>' + rest.phone + '</td>' +
                        '<td>' + rest.address + '</td>' +
                        '<td>' + rest.service + '</td>' +
                        '<td>' + rest.environment + '</td>' +
                        '<td>' + rest.taste + '</td>' +
                        '<td>' + rest.recommends + '</td>' +
                        '</tr>';
             }

             $.ajax({
                 type: "POST",
                 url: form.attr('action'),
                 data: form.serialize(), // serializes the form's elements.
                 success: function(data) {
                     cons = data['inform'];/* cons means constraint */
                     $.getJSON('../static/kb/restaurant.json', function (restArr) {
                         res = restArr.filter(function (rest) {
                             if (cons['food_type']) {
                                 return rest.tag === cons.food_type
                             } else return true;
                         }).filter(function (rest) {
                             if (cons['price_range']) {
                                 return rest['price_range'] === cons['price_range'];
                             } else return true;
                         }).filter(function (rest) {
                             if (cons['rate']) {
                                 if (cons['rate'] === '不关心') return true
                                 else return rest['rate'] === cons['rate'];
                             } else return true;
                         });
                         console.log(res)
                         $('#search-result').empty();
                         res.map(function (rest) {
                             $('#search-result').append(table_row(rest));
                         });
                     });
                 }
             });
             e.preventDefault(); // avoid to execute the actual submit of the form.
         });
     });
    </script>

  </head>

  <body>
    <div class="blue-box">

      {% for t in log %}
        {% if t['text'][0] %}
          <p><span style="display:inline-block;width:55px;">消费者</span>| {{ t['text'][0] }}</p>
        {% endif %}
        {% if t['text'][1] %}
          <p><span style="display:inline-block;width:55px;">助手</span>| {{ t['text'][1] }}</p>
        {% endif %}
      {% endfor %}

      {% if log|length == 0 or 'metadata' in log[-1] %}
        <button type="button" onclick="window.location.href='{{ url_for('main.index') }}';">下一轮</button>
        <p>或关闭网页离开</p>
      {% else %}
        <div class="green-box">

          <p>
            请根据上面的对话修改以下信息，要求：<br><br>
            1. 结合最近的一次用户回复，理解并选择用户的需求 <br>
            2. 根据情境提交合适的回复 <br>
            3. 点击 finish，会提供对应的信息，你可以用这些信息回复给用户，如果你觉得用户已经结束了对话，请在提交之前勾选结束框 <br>
          </p>
          <p>请不要同时打开多个网页填写内容！</p>
          <form id="annotation" action="{{ url_for('wizard.update_metadata') }}" method="post">
            <ul>
              <li>
                <span>用户想要哪种食物类型？</span>
                <select name="want_food_type">
                  <option value="">空</option>
                  {% for ft in food_types %}
                    <option value="{{ ft }}">{{ ft }}</option>
                  {% endfor %}
                </select><br/>

                <span>用户想要的餐厅在哪种价格范围？</span>
                <select name="want_price_range">
                  <option value="">空</option>
                  {% for pr in price_ranges %}
                    <option value="{{ pr }}">{{ pr }}</option>
                  {% endfor %}
                </select><br/>

                <span>用户对餐厅服务的要求是？</span>
                <select name="want_rate">
                  <option value="">空</option>
                  {% for r in rates %}
                    <option value="{{ r }}">{{ r }}</option>
                  {% endfor %}
                </select><br/>
              </li>
              <br><br>
              <li>
                <span>用户想知道餐厅的食物类型吗？</span>
                <select name="request_food_type">
                  <option value="no">No</option>
                  <option value="yes">Yes</option>
                </select>
                <br/>

                <span>用户想知道餐厅的价格范围吗？</span>
                <select name="request_price_range">
                  <option value="no">No</option>
                  <option value="yes">Yes</option>
                </select>
                <br/>

                <span>用户想知道餐厅的电话号码吗？</span>
                <select name="request_phone">
                  <option value="no">No</option>
                  <option value="yes">Yes</option>
                </select>
                <br/>

                <span>用户想知道餐厅的地址吗吗？</span>
                <select name="request_addr">
                  <option value="no">No</option>
                  <option value="yes">Yes</option>
                </select>
                <br/>

                <span>用户想知道餐厅的推荐菜吗？</span>
                <select name="request_recom">
                  <option value="no">No</option>
                  <option value="yes">Yes</option>
                </select>
                <br/>
              </li>
            </ul>
            <br>
            <input type="submit" value="finish">
          </form>
        </div>
        <br>
        <form action="{{ url_for('wizard.index') }}" method="post">
          <input type="text" name="sys_resp" size="200">
          <input type="checkbox" name="is_over">对话已结束<br>
          <input type="submit" value="Submit">
        </form>
      {% endif %}

      <!-- get flashes -->
      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          <ul class="flashes">
            {% for msg in msgs %}
              <li>{{ msg }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

    </div>

    <div class="green-box">

      <table style="width:100%">
        <thead>
          <tr>
            <th>餐厅名</th>
            <th>食物类型</th>
            <th>平均价格</th>
            <th>价格定位</th>
            <th>电话</th>
            <th>地址</th>
            <th>服务评分</th>
            <th>环境评分</th>
            <th>口味评分</th>
            <th>推荐菜</th>
          </tr>
        </thead>
        <tbody id="search-result">
        </tbody>
      </table>
    </div>
  </body>
</html>
