<html>
  <head>
    <title>Data Collect - Wizard</title>

    <style>
     .green-box {
       border: 1px solid green;
       padding: 10px;
     }

     .blue-box {
       border: 1px solid blue;
       padding: 10px;
     }

     b {
       color: blue;
     }

     table {
       border-collapse: collapse;
     }

     table, th, td {
       border: 1px solid black;
     }

     td {
       text-align: center;
     }

    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script>

     $(document).ready(function(){

         $("#annotation").submit(function(e) {
             var form = $(this);

             function table_row(rest) {
                 return '<tr>' +
                        '<td>' + rest.name + '</td>' +
                        '<td>' + rest.tag + '</td>' +
                        '<td>' + rest.mean_price + '</td>' +
                        '<td>' + rest.price_range + '</td>' +
                        '<td>' + rest.phone + '</td>' +
                        '<td>' + rest.address + '</td>' +
                        '<td>' + rest.area + '</td>' +
                        '<td>' + rest.recommends + '</td>' +
                        '</tr>';
             }

             $.ajax({
                 type: "POST",
                 url: form.attr('action'),
                 data: form.serialize(), // serializes the form's elements.
                 success: function(data) {
                     cons = data['inform'];/* cons means constraint */
                     $.getJSON('../static/kb/restaurant.json', function (restArr) {
                         res = restArr.filter(function (res) {
                             if (cons['name']) {
                                 return res.name === cons.name;
                             } else return true;
                         }).filter(function (rest) {
                             if (cons['food_type']) {
                                 return rest.tag === cons.food_type;
                             } else return true;
                         }).filter(function (rest) {
                             if (cons['price_range']) {
                                 return rest['price_range'] === cons.price_range;
                             } else return true;
                         }).filter(function (rest) {
                             if (cons['area']) {
                                 return rest['area'] === cons.area;
                             } else return true;
                         });
                         console.log(res)
                         $('#search-result').empty();
                         res.map(function (rest) {
                             $('#search-result').append(table_row(rest));
                         });
                     });
                     $('#wizard-submit :input').prop('disabled', false);
                 }
             });
             e.preventDefault(); // avoid to execute the actual submit of the form.
         });
     });
    </script>

  </head>

  <body>
    <div class="blue-box">
      对话历史(<b>你现在是机器人</b>)
      {% for t in log %}
        {% if t['text'][0] %}
          <p><span style="display:inline-block;width:55px;">用户</span>| {{ t['text'][0] }}</p>
        {% endif %}
        {% if t['text'][1] %}
          <p><span style="display:inline-block;width:55px;">机器人</span>| {{ t['text'][1] }}</p>
        {% endif %}
      {% endfor %}

      {% if log|length == 0 or 'metadata' in log[-1] %}
        <a href="{{ url_for('main.select_task') }}"><button>下一轮</button></a>
        <a href="{{ url_for('main.index') }}"><button>返回首页</button></a>
      {% else %}
        <div class="green-box">

          <p>
            <b>你现在是机器人</b>，请根据<b>对话历史</b>修改以下信息，没有的属性则<b>不填</b>。如果你认为用户已经结束了对话，请在提交之前勾选用户已经离开<br>
          </p>
          <p>请在30分钟之内完成任务并关闭网页，并且不要同时打开多个页面填写内容</p>
          <form id="annotation" action="{{ url_for('wizard.update_metadata') }}" method="post">
            <ul>
              <li>
                {% set informs = metadata['inform'] %}
                {% set requests = metadata['request'] %}
                <span style="display:inline-block;width:250px;">用户想要的<b>餐厅名字</b>？</span>
                {% if 'name' in informs %}
                  <input type="text" name="want_name" value="{{ informs['name'] }}" size="40"><br>
                  {% else %}
                  <input type="text" name="want_name" size="40"><br>
                {% endif %}
                <span style="display:inline-block;width:250px;">用户想要哪种<b>食物类型</b>？</span>
                <select name="want_food_type">
                  <option value="">空</option>
                  {% for ft in food_types %}
                    {% if 'food_type' in informs and ft == informs['food_type'] %}
                      <option value="{{ ft }}" selected="selected">{{ ft }}</option>
                    {% else %}
                      <option value="{{ ft }}">{{ ft }}</option>
                    {% endif %}
                  {% endfor %}
                </select><br/>

                <span style="display:inline-block;width:250px;">用户想要的餐厅在哪种<b>价格范围</b>？</span>
                <select name="want_price_range">
                  <option value="">空</option>
                  {% for pr in price_ranges %}
                    {% if 'price_range' in informs and pr == informs['price_range'] %}
                      <option value="{{ pr }}" selected="selected">{{ pr }}</option>
                    {% else %}
                      <option value="{{ pr }}">{{ pr }}</option>
                    {% endif %}
                  {% endfor %}
                </select><br/>

                <span style="display:inline-block;width:250px;">用户想要的餐厅在哪个<b>地区</b>？</span>
                <select name="want_area">
                  <option value="">空</option>
                  {% for a in areas %}
                    {% if 'area' in informs and a == informs['area'] %}
                      <option value="{{ a }}" selected="selected">{{ a }}</option>
                    {% else %}
                      <option value="{{ a }}">{{ a }}</option>
                    {% endif %}
                  {% endfor %}
                </select><br/>
              </li>
              <br><br>
              <li>
                {% if 'food_type' in requests %}
                  <span style="display:inline-block;width:250px;">用户想知道餐厅的<b>食物类型</b>吗？</span>
                  <input type="checkbox" name="request_food_type" checked>
                {% else %}
                  <span style="display:inline-block;width:250px;">用户想知道餐厅的<b>食物类型</b>吗？</span>
                  <input type="checkbox" name="request_food_type">
                {% endif %}
                <br/>

                {% if 'price_range' in requests %}
                  <span style="display:inline-block;width:250px;">用户想知道餐厅的<b>价格范围</b>吗？</span>
                  <input type="checkbox" name="request_price_range" checked>
                {% else %}
                  <span style="display:inline-block;width:250px;">用户想知道餐厅的<b>价格范围</b>吗？</span>
                  <input type="checkbox" name="request_price_range">
                {% endif %}
                <br>

                {% if 'phone' in requests %}
                  <span style="display:inline-block;width:250px;">用户想知道餐厅的<b>电话</b>吗？</span>
                  <input type="checkbox" name="request_phone" checked>
                {% else %}
                  <span style="display:inline-block;width:250px;">用户想知道餐厅的<b>电话</b>吗？</span>
                  <input type="checkbox" name="request_phone">
                {% endif %}
                <br>

                {% if 'address' in requests %}
                  <span style="display:inline-block;width:250px;">用户想知道餐厅的<b>地址</b>吗？</span>
                  <input type="checkbox" name="request_addr" checked>
                {% else %}
                  <span style="display:inline-block;width:250px;">用户想知道餐厅的<b>地址</b>吗？</span>
                  <input type="checkbox" name="request_addr">
                {% endif %}
                <br>

                {% if 'recommends' in requests %}
                  <span style="display:inline-block;width:250px;">用户想知道餐厅的<b>推荐菜</b>吗？</span>
                  <input type="checkbox" name="request_recom" checked>
                {% else %}
                  <span style="display:inline-block;width:250px;">用户想知道餐厅的<b>推荐菜</b>吗？</span>
                  <input type="checkbox" name="request_recom">
                {% endif %}
                <br>
              </li>
            </ul>
            <br>
            <label for="evaluate">对话内容质量评价:</label>
            <select id="evaluate" name="evaluate">
              {% if evaluate == 'high' %}
                <option value="high" selected>高</option>
                <option value="low">低</option>
              {% else %}
                <option value="high">高</option>
                <option value="low" selected>低</option>
              {% endif %}
            </select> <br><br>
            <input type="submit" value="finish"><br><br>
            <b>每次提交前，请务必点击finish更新当前修改</b>
          </form>
        </div>
        <br>

        <div class="green-box">
          <table style="width:100%">
            <thead>
            <tr>
              <th>餐厅名</th>
              <th>食物类型</th>
              <th>平均价格</th>
              <th>价格定位</th>
              <th>电话</th>
              <th>地址</th>
              <th>地区</th>
              <th>推荐菜</th>
            </tr>
            </thead>
            <tbody id="search-result">
            </tbody>
          </table>
        </div> <br>

        <form id="wizard-submit" action="{{ url_for('wizard.index') }}" method="post">
          <input type="text" name="sys_resp" placeholder="请向用户给出合理回复" size="200" disabled> <br>
          用户已离开?<input type="checkbox" name="is_over" disabled><br><br>
          <input type="submit" value="Submit" disabled>
        </form>
      {% endif %}

      <!-- get flashes -->
      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          <ul class="flashes">
            {% for msg in msgs %}
              <li>{{ msg }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

    </div>
  </body>
</html>
